* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.col-1 {
  background-image: url("./images/citation.jpeg");
  background-position-x: bottom;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 120%;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  
}

.emailtext {
  text-align: center;
}

h2 {
  width: 100%;
  margin-top: 40px;
  text-transform: uppercase;
  color: rgb(68, 85, 76);
  font-size: 80px;
  text-align: center;
}

.emailtext {
  text-align: center;
}

@media screen and (max-width: 980px) {
  .contact-page {
    max-width: 800px;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.nav {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 13.75rem;
  width: 8.125rem;
  height: 13.75rem;
  background-color: rgb(68, 85, 76);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  transition: all 0.3s ease;
}

.nav--active {
  opacity: 1;
  top: 0;
  width: 50%;
  height: 100%;
}

.nav__item {
  opacity: 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem;
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.nav__item:hover,
.nav__item:focus {
  color: rgb(121, 173, 146);
}

.nav__item:focus {
  outline: 1px solid #ffffff00;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav--active .nav__item {
  animation: fade 1s ease 0.2s forwards;
}

.hamburger {
  position: absolute;
  left: 0;
  top: 13.75rem;
  width: 8.125rem;
  height: 13.75rem;
  background-color: rgb(121, 173, 146);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  transition: all 0.3s ease;
}

.hamburger__button {
  position: relative;
  cursor: pointer;
  padding: 2rem;
  z-index: 300;
}

.hamburger__button:focus {
  outline: 1px solid #ffffff00;
}

.hamburger__line {
  position: absolute;
  width: 2.25rem;
  height: 0.15rem;
  background-color: #ffffff;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.hamburger__line:nth-child(1) {
  top: calc(50% - 0.375rem);
}

.hamburger__line:nth-child(2) {
  top: calc(50% + 0.375rem);
}


@media only screen and (max-width: 1800px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 18px;
  }

  .feature__title {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 1200px) {
  .nav,
  .hamburger {
    top: 0;
    width: 5rem;
    height: 5rem;
  }

  .nav--active {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

@media only screen and (max-width: 660px) {
  .mobile__circles {
    display: none;
  }

  .nav,
  .hamburger {
    left: auto;
    right: 0;
    width: 4rem;
    height: 4rem;
  }

  .nav--active {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  .hamburger__line {
    width: 1.75rem;
    height: 0.15rem;
  }

  .col-1__header {
    padding: 4rem;
    width: 100%;
  }
}